.App {
  text-align: center;
  list-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} /*
.card {
  background-color: black;
  background-size: cover;
  color: white;
  background: #F8F3F3;
  height: auto;
  margin-top: 3em;
  width: 50%;
  left: 40%;
}
*/

button{
  border-radius: 1em;
  border-color: #FFD700;
  font-size: 2em;
  background-color: black;
  color: #FFD700;
  margin-bottom: 2em;
  transition-property: background-color, color, border-color;
  transition-duration: 1s
}

button:hover{
  background-color: #ff5671;
  color: white;
  border-color: #ff5671;
}

input{
  margin-bottom: 2em;
}

.profile{
    background-color: #6b3a5c;
    color: white;
}
